@import "tailwindcss";

body {
  font-family: var(--Roboto-Slab);
}

/* Estilo para o background */
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("/icones/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* scroll bar */

.janela-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.janela-scroll:hover {
  scrollbar-color: rgba(255, 255, 255, 0.206) transparent;
}

.janela-scroll::-webkit-scrollbar {
  width: 2px;
}

.janela-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.janela-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 100px;
}
