@import "tailwindcss";

body {
  font-family: var(--Roboto-Slab);
}

/* Estilo para o background */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/icones/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
};


 
